body{display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bootstrap-5.3.1-dist/js/13-01-16-images.jpg");
    }


.box{
     background-color: brown;
    border: 10px dotted;
    border-radius: 5px;
    margin: 100px;
    padding: 50px;}
